$bg: #252839;
$accent_yellow: #F1B631;
$accent_second_orange: #F67321;
$accent_second_blue: #577590;
$accent_env_magenta: #C01F33;
$white: #ffffff;
$grey_1: #B5B5B7;
$grey_2: #677077;
$grey_3: #414250;
